.bg{
    background-image: url(./../../assets/bangladeshi-cuisine.jpg);
    background-size: cover;
    background-attachment: fixed;
}
.loginBg{
    background: #080808c4;
}
input{
    color: #fff;
}